dill~=0.3.6
requests~=2.28.2
setuptools~=65.6.3
pytest~=7.3.0
python-dateutil~=2.8.2
pytest-asyncio~=0.21.0
asyncio~=3.4.3
requests-async~=0.6.2
pydash~=7.0.0
typing-extensions~=4.5.0
atmost~=1.0.1
PyYAML~=6.0